@font-face {
    font-family: base_font;
    src: url("/fonts/HelveticaNeue.otf");
}
body {
    max-width: 1920px;
    font-size: 16px;
    margin: 0 auto;
    font-family: base_font;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}