.breadcrumbs {
    background-color: inherit;
}

.breadcrumbs-main {
    padding: 30px 0 20px 0;
    display: flex;
    gap: 0 15px;

    a,
    span {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.017em;
        color: #707172;
    }

    h6 {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #3a3a3a;
    }
}
