.contact {
    padding: 60px 0;
    background-color: #f2f2f2;
}

.contact-main {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    .contact-heading {
        font-size: 30px;
        line-height: 24px;
        color: #3a3a3a;
        margin-bottom: 20px;
    }

    .second-heading {
        font-style: italic;
        font-size: 16px;
        line-height: 30px;
        color: #3a3a3a;
    }
}

.contact-form {
    form {
        display: flex;
        flex-direction: column;
        gap: 15px 0;
    }

    input {
        width: 476px;
        height: 45px;
        padding: 12px 0 17px 20px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
        border: none;
        border-radius: 4px;
    }

    textarea {
        width: 476px;
        height: 86px;
        padding: 12px 0 17px 20px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
        border: none;
        border-radius: 4px;
    }

    button {
        width: 126px;
        height: 45px;
        background: #0075b2;
        border-radius: 4px;
        border: none;
        color: #FFFFFF;
        position: relative;
        left: 100%;
        transform: translateX(-100%);       
    }
}

@media screen and (max-width: 767px) { 
    .contact {
        padding: 20px 0 0px;
    }

    .contact-main {
        flex-direction: column;
    }

    .contact-form {
        padding: 20px 0;

        input {
            width: 100%;
        }

        textarea {
            width: 100%;
        }
    }
}
