.maps {
    position: relative;
}

.contact-content {
    position: absolute;
    top: 60px;
    width: 720px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 60px 80px 25px;
    border: 1px solid #ffffff;
    border-radius: 4px;

    .heading {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        color: #0075b2;
        &::after {
            display: none;
        }
    }

    .short-text {
        width: 510px;
        margin-top: 23px;
        font-size: 16px;
        line-height: 24px;
        color: #444445;
    }

    .phone {
        margin-top: 15px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #e01830;
    }
}

.info-company {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px 0px;

    p {
        font-size: 14px;
        line-height: 17px;
        color: #3a3a3a;
    }

    i {
        margin-right: 12px;
    }

    .info-title {
        font-weight: 800;
    }
}

@media screen and (max-width: 767px) {

    .contact-content {
        padding: 10px 0px 20px 0px;
        position: relative;
        width: 100%;
        top: 0;

        .short-text {
            width: 100%;
        }
    }

    .info-company {
        gap: 20px 10px;
    }

    .maps {
        iframe {
            width: 100%;
            height: 400px;
        }
    }

}
