.wrapper {
    display: grid;
    padding-left: 20px;
    gap: 0 40px;
    grid-template-columns: auto 320px;
}

.deitail-content {
    padding: 20px 50px 100px 20px;
    p {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 24px;
        color: #3a3a3a;
    }

    img {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .md-heading {
        font-weight: bold;
        font-size: 18px;
    }

    .back {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.017em;
        color: #0075b2;
    }
}

.sidebar {
    width: 320px;
    margin-top: 20px;
    padding: 20px 20px 0 20px;
    border: 1px solid #f2f2f2;
    margin-bottom: 100px;

    .heading {
        position: relative;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #0075b2;
        border-bottom: 1px solid #e5e5e5;

        &::after {
            position: absolute;
            top: 99%;
            left: 0;
            content: "";
            width: 100px;
            transform: translateX(0);
            height: 2px;
            background-color: #0075b2;
        }
    }
}

.main-sidebar {
    margin-bottom: 40px;
}

.sidebar-item {
    margin-top: 20px;
    display: flex;
    gap: 0 20px;

    img {
        width: 120px;
        height: 80px;
        border-radius: 4px;
    }
    .sidebar-item-desc {
        .date {
            font-size: 12px;
            line-height: 18px;
            color: #888888;
        }
    }

    .md-heading {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #3a3a3a;
        margin-bottom: 10px;
    }
}

.sidebar-service-item {
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px dotted #e5e5e5;
}

@media screen and (max-width: 1023px) {
    .deitail-content {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .main-sidebar {
        margin-bottom: 10px;
    }

    .sidebar {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0;
        padding: 0px 10px 0 10px;
    }
}
