.footer {
    background-color: #0075b2;
    padding: 18px 0 56px 0;
}

.footer-container {
    background-image: url("/images/map.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
    img {
        width: 100%;
    }
}

.footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .footer-column {
        span {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
        }

        .link {
            margin-bottom: 15px;

            a {
                color: #ffffff;
                font-size: 14px;
                line-height: 17px;
            }
        }

        .footer-info {
            font-size: 12px;
            line-height: 20px;
            color: #ffffff;
            opacity: 0.8;
            margin-bottom: 8px;
        }

        .footer-heading {
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
}

.heading-underline {
    position: relative;
    display: block;
    margin-bottom: 30px;

    &::after {
        position: absolute;
        content: "";
        width: 90%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.3);
        left: 0;
        bottom: -14px;
    }
}

.social {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin: 30px 0 20px;
}

.copyright {
    background-color: #0075b2;
    opacity: 0.8;
    padding: 10px 0;
    .copyright-text {
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
    }
}

@media screen and (max-width: 1023px) {
    .footer-main {
        gap: 0 10px;
    }
    .social {
        gap: 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer-main {
        grid-template-columns: 1fr;
        gap: 20px 0;
    }
    .social {
        gap: 20px;
    }
}
