.header {
    background-color: #e5e5e5;
}

.header-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 15px 0 30px 0;
    gap: 0 80px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    gap: 0 40px;
}

.header-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    .header-icon {
        width: 50px;
        height: 50px;
        background-color: lightblue;
    }
    .item-text {
        p {
            font-size: 0.9rem;
            line-height: 17px;
            color: #00547F;
        }
        h6 {
            margin-top: 5px;
            font-size: 0.8rem;
            font-weight: bold;
            color: #00547F;
        }
        .item-phone {
            color: #FF6317;
        }
    }
}

 @media screen and (max-width: 1023px) {
    .header-main {
        padding: 15px;
        gap: 0 40px;
    }

    .header-icon {
        display: none;
    }
}

@media screen and(max-width: 767px) {
    .header-main {
        padding: 5px;
        gap: 0 20px;
        align-items: center;
    }

    .header-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}