.introduce {
    background: linear-gradient(rgba(#08415F, 0.6)), url("/images/about-us.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.intro-heading {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 40px;
}

.intro-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;
    padding-bottom: 60px;
}

.intro-item {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 45px 35px;
    .intro-icon {
        width: 70px;
        height: 70px;
        background-color: lightblue;
        margin-bottom: 15px;
    }

    .item-heading {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #0075b2;
        margin-bottom: 30px;
    }

    .item-second-heading {
        font-size: 16px;
        line-height: 24px;
        color: #3a3a3a;
        overflow: hidden;
    }
}


@media screen and (max-width: 1023px) {
    .intro-main {
        padding-bottom: 30px;
    }

    .intro-heading {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .intro-item {
        padding: 10px 25px 20px;

        .intro-icon {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }

        .item-heading {
            margin-bottom: 15px;
        }
    }
    
}

@media screen and (max-width: 767px) {
    .intro-main {
        grid-template-columns: 1fr;
    }
}