.navigation {
    background: linear-gradient(180deg, #00a8ff 0%, #1094d9 100%);
    position: relative;
}

ul {
    display: flex;
    list-style-type: none;
    li {
        padding: 10px 35px;
        a {
            color: #ffffff;
            line-height: 17px;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
        }
        &:hover {
            background-color: #0075b2;
        }
    }
    .active {
        background-color: #0075b2;
    }
}

.hamburger {
    padding: 5px 15px;
    font-size: 14px;
    color: #ffffff;
    height: 30px;
    display: none;
}

@media screen and (max-width: 1023px) {
    .top-navigation {
        li {
            padding: 10px 15px;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .hamburger {
        display: block;
    }

    .top-navigation {
        background: linear-gradient(180deg, #00a8ff 0%, #1094d9 100%);
        width: 100%;
        top: 30px;
        left: 0;
        position: absolute;
        flex-direction: column;
        transform: translateX(-115%);
        transition: 0.7s;
        z-index: 1;
    }

    .top-navigation-bars {
        transform: translateX(0%);
    }
}
