.news-page-content {
    background-color: #f2f2f2;
}

.news-page-banner {
    height: 333px;
    width: 100%;
}

.news-banner {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #08415F;
        opacity: 0.7;
    }
}

.on-banner {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    top: -150px;
}

.news-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 40px;
    padding: 30px 35px;
    background-color: #ffffff;

    .news-item {
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.08);
        border-radius: 4px;

        img {
            width: 100%;
            border-radius: 4px 4px 0 0;
        }
    }
}

.news-item-content {
    padding: 15px 20px 30px 20px;

    span {
        font-size: 14px;
        line-height: 24px;
        color: #707172;
    }

    .views {
        float: right;
        right: 0;
    }

    .md-heading {
        margin-top: 15px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #3a3a3a;
    }

    .text-content {
        margin-top: 15px;
        font-size: 14px;
        line-height: 18px;
        color: #444445;
    }

    .btn-news-item {
        margin-top: 20px;
        background-color: #00a8ff;
    }
}

@media screen and(max-width: 1023px) {
    .news-main {
        padding: 0 10px;
        gap: 20px 10px;

        .news-item-content {
            padding: 15px 10px 30px 10px;
        
            .md-heading {
                margin-top: 10px;
            }
        
            .text-content {
                margin-top: 10px;
            }
        
            .btn-news-item {
                margin-top: 10px;
            }
        }
    }
}

@media screen and(max-width: 767px) {
    .news-main {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
}