.numbers {
    background-color: #00a8ff;
}

.numbers-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 80px 0 45px 0;
    gap: 0 40px;

    .number-item {
        text-align: center;
        color: #ffffff;
        padding: 0 50px;

        .item-icon {
            width: 75px;
            height: 75px;
            border: 1px dotted white;
            margin: 0 auto 18px;
        }

        h1 {
            font-size: 36px;
            font-weight: 800;
            line-height: 43px;
            letter-spacing: -0.017em;
            margin-bottom: 30px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .numbers-main {
        padding: 40px 0 20px 0;

        .number-item {
            padding: 0;

            .item-icon {
                margin-bottom: 10px;
            }

            h1 {
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .numbers-main {
        grid-template-columns: 1fr;
        gap: 40px 0;

        .item-icon {
            display: none;
        }
    }
}