.question {
    background-color: #f2f2f2;
    padding-bottom: 25px;
}

.question-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.question-item {
    background: #f2f2f2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0 27px;
    transition: 0.5s;

    .item-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #0075b2;
        margin: 25px 0 35px 0;
    }

    .item-image {
        width: 100%;
        margin-bottom: 25px;
    }

    .item-paragraph {
        font-size: 14px;
        line-height: 24px;
        color: #3a3a3a;
        margin-bottom: 15px;
    }

    .question-item-btn {
        width: 125px;
        height: 45px;
        border: none;
        background: #00a8ff;
        border-radius: 4px;
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 25px;
    }
}

.question-item:hover {
    background-color: #ffffff;
}

@media screen and (max-width: 1023px) {
    .question-heading {
        padding-top: 20px;
    }

    .question-main {
        margin-top: 30px;
    }

    .question-item {
        padding: 0 10px;
    }
}

@media screen and (max-width: 767px) { 
    .question-main {
        grid-template-columns: 1fr;
    }
}