.rail-transport {
    background-color: #f2f2f2;
}

.rail-transport-content {
    display: flex;
    margin-top: 30px;
    padding-bottom: 60px;
}

.rail-right-content {
    background-image: url("../images/rail-item-bg.png"), linear-gradient(#00517c);
    padding: 40px 50px 65px 60px;

    p {
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 20px;
    }
}

.rail-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
