.services-about-us {
    // background-image: url("/images/group.png");
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    width: 100%;
    background-color: #f8fcff;
    // padding-top: 60px;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 0 30px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.service-item {
    background-color: #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 0 20px;
    transition: 0.5s;

    .service-icon {
        margin: 35px 0 25px;
        display: inline-block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 1px solid #dfdfdf;
        position: relative;

        .order-number {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #ffffff;
            background-color: #ff6317;
            top: -10px;
            right: -20px;
            padding: 5px;
        }
    }

    .item-heading {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        color: #444445;
        margin-bottom: 15px;
    }

    .item-second-heading {
        font-size: 14px;
        line-height: 18px;
        color: #444445;
        margin-bottom: 30px;
    }

    .service-item-image {
        width: 100%;
        margin-bottom: 30px;
        border-radius: 4px;
    }

    .service-item-btn {
        width: 125px;
        height: 45px;
        background: #ff6317;
        border-radius: 4px;
        color: #ffffff;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
        border: none;
    }
}

.service-item:hover {
    opacity: 0.8;
}

.about {
    display: grid;
    grid-template-columns: 45% 50%;
    margin: 65px 0 0 0;
    gap: 0 55px;
    padding-bottom: 70px;
}

.about-images {
    display: flex;
    align-items: center;

    .images-left {
        display: flex;
        flex-direction: column;
        gap: 60px 0;
    }

    .images-right {
        margin-left: -81px;
    }
}

.about-right-content {
    .about-heading {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        color: #0075b2;
    }

    .about-text {
        p {
            font-size: 16px;
            line-height: 24px;
            color: #3a3a3a;
            margin: 25px 0;
        }
    }
}

.about-list {
    p {
        font-size: 16px;
        line-height: 40px;
        color: #0075b2;

        i {
            margin-right: 30px;
        }
    }
}

// .item-icon img {
//     width: 100% !important;
//     height: 100% !important;
// }

.about-content {
    .about-text-content {
        font-size: 16px;
        line-height: 24px;
        color: #3a3a3a;
        text-align: justify;
    }

    .about-content-image {
        margin: 30px auto;
        width: 80%;
    }

    .small-heading {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.017em;
        color: #0075b2;
        margin: 40px 0 10px 0;
    }
}

.service-page-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin-top: 70px;

    &:last-child {
        padding-bottom: 20px;
    }
}

.service-item-right {
    height: 100%;
    position: relative;
}

.button-contacts {
    text-align: center;
    padding-top: 12px;
    color: #ffff !important;
    background: #00a8ff;
    margin-top: 20px;
}

.frame-6 {
    width: 100%;
    height: 100%;
    margin-top: 55px;
}

.background-image {
    background: url("../images/Group.png");
    background-repeat: no-repeat;
    background-position: top;
}

.heading {
    padding-top: 45px;
}

.order-number {
    background: #ff6317;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    left: 35px;
    bottom: 25px;
    position: absolute;
    color: #fff;
    font-size: 20px;
}

.md-heading {
    margin-bottom: 15px;
    font-weight: bold;
}

.service-summary {
    margin-bottom: 24px;
}

.service-text-item {
    padding-bottom: 8px;
    margin-bottom: 0;
    &:last-child {
        margin-bottom: 20px;
    }
}

.service-item-left {
    font-family: Helvetica Neue;
    margin-right: 65px;
}

.service-item-right {
    font-family: Helvetica Neue;
}

.service-contacts {
    background-color: f8fcff !important;
    padding-bottom: 50px;
}

.banner {
    margin-top: -16px;
}

.contact-info {
    margin-right: 50px;
}

@media screen and (max-width: 1023px) {
    .service-heading {
        padding-top: 25px;
    }

    .service-item {
        padding: 10px 10px 0px;

        .service-icon {
            width: 50px;
            height: 50px;
            margin: 10px 0;

            .order-number {
                width: 25px;
                height: 25px;
                font-size: 15px;
            }
        }

        .item-second-heading,
        .service-item-image {
            margin-bottom: 10px;
        }
    }

    .about {
        grid-template-columns: 1fr;
        gap: 20px 0;
        padding: 0 5px;
        margin: 30px 0 0 0;
        padding-bottom: 10px;
    }

    .about-heading {
        padding-top: 20px;
    }
    
}


@media screen and (max-width: 767px) {
    .banner-service {
        display: none;
    }
    .services {
        grid-template-columns: 1fr;
        gap: 20px 0;
    }

    .service-page-item {
        grid-template-columns: 1fr;
    }

    .service-item-left {
        font-family: Helvetica Neue;
        margin-right: 5px;
    }

    .frame-6 {
        display: none;
    }

    .service-icon {
        display: none;
    }
    
}
