html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: base_font;
  src: url("/fonts/HelveticaNeue.otf");
}

body {
  max-width: 1920px;
  font-size: 16px;
  margin: 0 auto;
  font-family: base_font;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #e5e5e5;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 0 30px 0;
  gap: 0 80px;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 40px;
}

.header-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

.header-info-item .header-icon {
  width: 50px;
  height: 50px;
  background-color: lightblue;
}

.header-info-item .item-text p {
  font-size: 0.9rem;
  line-height: 17px;
  color: #00547F;
}

.header-info-item .item-text h6 {
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #00547F;
}

.header-info-item .item-text .item-phone {
  color: #FF6317;
}

@media screen and (max-width: 1023px) {
  .header-main {
    padding: 15px;
    gap: 0 40px;
  }
  .header-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-main {
    padding: 5px;
    gap: 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

.navigation {
  background: -webkit-gradient(linear, left top, left bottom, from(#00a8ff), to(#1094d9));
  background: linear-gradient(180deg, #00a8ff 0%, #1094d9 100%);
  position: relative;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

ul li {
  padding: 10px 35px;
}

ul li a {
  color: #ffffff;
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

ul li:hover {
  background-color: #0075b2;
}

ul .active {
  background-color: #0075b2;
}

.hamburger {
  padding: 5px 15px;
  font-size: 14px;
  color: #ffffff;
  height: 30px;
  display: none;
}

@media screen and (max-width: 1023px) {
  .top-navigation li {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .hamburger {
    display: block;
  }
  .top-navigation {
    background: -webkit-gradient(linear, left top, left bottom, from(#00a8ff), to(#1094d9));
    background: linear-gradient(180deg, #00a8ff 0%, #1094d9 100%);
    width: 100%;
    top: 30px;
    left: 0;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-115%);
            transform: translateX(-115%);
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 1;
  }
  .top-navigation-bars {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.services-about-us {
  width: 100%;
  background-color: #f8fcff;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 30px;
  margin-top: 45px;
  margin-bottom: 15px;
}

.service-item {
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  padding: 0 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-item .service-icon {
  margin: 35px 0 25px;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
  position: relative;
}

.service-item .service-icon .order-number {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #ff6317;
  top: -10px;
  right: -20px;
  padding: 5px;
}

.service-item .item-heading {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #444445;
  margin-bottom: 15px;
}

.service-item .item-second-heading {
  font-size: 14px;
  line-height: 18px;
  color: #444445;
  margin-bottom: 30px;
}

.service-item .service-item-image {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;
}

.service-item .service-item-btn {
  width: 125px;
  height: 45px;
  background: #ff6317;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  border: none;
}

.service-item:hover {
  opacity: 0.8;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 50%;
      grid-template-columns: 45% 50%;
  margin: 65px 0 0 0;
  gap: 0 55px;
  padding-bottom: 70px;
}

.about-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-images .images-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px 0;
}

.about-images .images-right {
  margin-left: -81px;
}

.about-right-content .about-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0075b2;
}

.about-right-content .about-text p {
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin: 25px 0;
}

.about-list p {
  font-size: 16px;
  line-height: 40px;
  color: #0075b2;
}

.about-list p i {
  margin-right: 30px;
}

.about-content .about-text-content {
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  text-align: justify;
}

.about-content .about-content-image {
  margin: 30px auto;
  width: 80%;
}

.about-content .small-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.017em;
  color: #0075b2;
  margin: 40px 0 10px 0;
}

.service-page-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: auto;
  margin-top: 70px;
}

.service-page-item:last-child {
  padding-bottom: 20px;
}

.service-item-right {
  height: 100%;
  position: relative;
}

.button-contacts {
  text-align: center;
  padding-top: 12px;
  color: #ffff !important;
  background: #00a8ff;
  margin-top: 20px;
}

.frame-6 {
  width: 100%;
  height: 100%;
  margin-top: 55px;
}

.background-image {
  background: url("../images/Group.png");
  background-repeat: no-repeat;
  background-position: top;
}

.heading {
  padding-top: 45px;
}

.order-number {
  background: #ff6317;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  left: 35px;
  bottom: 25px;
  position: absolute;
  color: #fff;
  font-size: 20px;
}

.md-heading {
  margin-bottom: 15px;
  font-weight: bold;
}

.service-summary {
  margin-bottom: 24px;
}

.service-text-item {
  padding-bottom: 8px;
  margin-bottom: 0;
}

.service-text-item:last-child {
  margin-bottom: 20px;
}

.service-item-left {
  font-family: Helvetica Neue;
  margin-right: 65px;
}

.service-item-right {
  font-family: Helvetica Neue;
}

.service-contacts {
  background-color: f8fcff !important;
  padding-bottom: 50px;
}

.banner {
  margin-top: -16px;
}

.contact-info {
  margin-right: 50px;
}

@media screen and (max-width: 1023px) {
  .service-heading {
    padding-top: 25px;
  }
  .service-item {
    padding: 10px 10px 0px;
  }
  .service-item .service-icon {
    width: 50px;
    height: 50px;
    margin: 10px 0;
  }
  .service-item .service-icon .order-number {
    width: 25px;
    height: 25px;
    font-size: 15px;
  }
  .service-item .item-second-heading,
  .service-item .service-item-image {
    margin-bottom: 10px;
  }
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px 0;
    padding: 0 5px;
    margin: 30px 0 0 0;
    padding-bottom: 10px;
  }
  .about-heading {
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .banner-service {
    display: none;
  }
  .services {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px 0;
  }
  .service-page-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .service-item-left {
    font-family: Helvetica Neue;
    margin-right: 5px;
  }
  .frame-6 {
    display: none;
  }
  .service-icon {
    display: none;
  }
}

.introduce {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 65, 95, 0.6))), url("/images/about-us.png");
  background: linear-gradient(rgba(8, 65, 95, 0.6)), url("/images/about-us.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.intro-heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 40px;
}

.intro-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 30px;
  padding-bottom: 60px;
}

.intro-item {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px 45px 35px;
}

.intro-item .intro-icon {
  width: 70px;
  height: 70px;
  background-color: lightblue;
  margin-bottom: 15px;
}

.intro-item .item-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #0075b2;
  margin-bottom: 30px;
}

.intro-item .item-second-heading {
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .intro-main {
    padding-bottom: 30px;
  }
  .intro-heading {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .intro-item {
    padding: 10px 25px 20px;
  }
  .intro-item .intro-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .intro-item .item-heading {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .intro-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.question {
  background-color: #f2f2f2;
  padding-bottom: 25px;
}

.question-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.question-item {
  background: #f2f2f2;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0 27px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.question-item .item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #0075b2;
  margin: 25px 0 35px 0;
}

.question-item .item-image {
  width: 100%;
  margin-bottom: 25px;
}

.question-item .item-paragraph {
  font-size: 14px;
  line-height: 24px;
  color: #3a3a3a;
  margin-bottom: 15px;
}

.question-item .question-item-btn {
  width: 125px;
  height: 45px;
  border: none;
  background: #00a8ff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 25px;
}

.question-item:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .question-heading {
    padding-top: 20px;
  }
  .question-main {
    margin-top: 30px;
  }
  .question-item {
    padding: 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .question-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.numbers {
  background-color: #00a8ff;
}

.numbers-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 80px 0 45px 0;
  gap: 0 40px;
}

.numbers-main .number-item {
  text-align: center;
  color: #ffffff;
  padding: 0 50px;
}

.numbers-main .number-item .item-icon {
  width: 75px;
  height: 75px;
  border: 1px dotted white;
  margin: 0 auto 18px;
}

.numbers-main .number-item h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 43px;
  letter-spacing: -0.017em;
  margin-bottom: 30px;
}

.numbers-main .number-item p {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 1023px) {
  .numbers-main {
    padding: 40px 0 20px 0;
  }
  .numbers-main .number-item {
    padding: 0;
  }
  .numbers-main .number-item .item-icon {
    margin-bottom: 10px;
  }
  .numbers-main .number-item h1 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .numbers-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 40px 0;
  }
  .numbers-main .item-icon {
    display: none;
  }
}

.contact {
  padding: 60px 0;
  background-color: #f2f2f2;
}

.contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info .contact-heading {
  font-size: 30px;
  line-height: 24px;
  color: #3a3a3a;
  margin-bottom: 20px;
}

.contact-info .second-heading {
  font-style: italic;
  font-size: 16px;
  line-height: 30px;
  color: #3a3a3a;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px 0;
}

.contact-form input {
  width: 476px;
  height: 45px;
  padding: 12px 0 17px 20px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 4px;
}

.contact-form textarea {
  width: 476px;
  height: 86px;
  padding: 12px 0 17px 20px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 4px;
}

.contact-form button {
  width: 126px;
  height: 45px;
  background: #0075b2;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  position: relative;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 20px 0 0px;
  }
  .contact-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form {
    padding: 20px 0;
  }
  .contact-form input {
    width: 100%;
  }
  .contact-form textarea {
    width: 100%;
  }
}

.footer {
  background-color: #0075b2;
  padding: 18px 0 56px 0;
}

.footer-container {
  background-image: url("/images/map.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer-logo {
  width: 150px;
  margin-bottom: 15px;
}

.footer-logo img {
  width: 100%;
}

.footer-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-main .footer-column span {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.footer-main .footer-column .link {
  margin-bottom: 15px;
}

.footer-main .footer-column .link a {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}

.footer-main .footer-column .footer-info {
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 8px;
}

.footer-main .footer-column .footer-heading {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.heading-underline {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.heading-underline::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  left: 0;
  bottom: -14px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
  margin: 30px 0 20px;
}

.copyright {
  background-color: #0075b2;
  opacity: 0.8;
  padding: 10px 0;
}

.copyright .copyright-text {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .footer-main {
    gap: 0 10px;
  }
  .social {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px 0;
  }
  .social {
    gap: 20px;
  }
}

.breadcrumbs {
  background-color: inherit;
}

.breadcrumbs-main {
  padding: 30px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15px;
}

.breadcrumbs-main a,
.breadcrumbs-main span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.017em;
  color: #707172;
}

.breadcrumbs-main h6 {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #3a3a3a;
}

.news-page-content {
  background-color: #f2f2f2;
}

.news-page-banner {
  height: 333px;
  width: 100%;
}

.news-banner {
  position: relative;
}

.news-banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #08415F;
  opacity: 0.7;
}

.on-banner {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  top: -150px;
}

.news-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 40px;
  padding: 30px 35px;
  background-color: #ffffff;
}

.news-main .news-item {
  -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.news-main .news-item img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.news-item-content {
  padding: 15px 20px 30px 20px;
}

.news-item-content span {
  font-size: 14px;
  line-height: 24px;
  color: #707172;
}

.news-item-content .views {
  float: right;
  right: 0;
}

.news-item-content .md-heading {
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #3a3a3a;
}

.news-item-content .text-content {
  margin-top: 15px;
  font-size: 14px;
  line-height: 18px;
  color: #444445;
}

.news-item-content .btn-news-item {
  margin-top: 20px;
  background-color: #00a8ff;
}

@media screen and (max-width: 1023px) {
  .news-main {
    padding: 0 10px;
    gap: 20px 10px;
  }
  .news-main .news-item-content {
    padding: 15px 10px 30px 10px;
  }
  .news-main .news-item-content .md-heading {
    margin-top: 10px;
  }
  .news-main .news-item-content .text-content {
    margin-top: 10px;
  }
  .news-main .news-item-content .btn-news-item {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .news-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
}

.wrapper {
  display: -ms-grid;
  display: grid;
  padding-left: 20px;
  gap: 0 40px;
  -ms-grid-columns: auto 320px;
      grid-template-columns: auto 320px;
}

.deitail-content {
  padding: 20px 50px 100px 20px;
}

.deitail-content p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
}

.deitail-content img {
  margin: 0 auto;
  margin-bottom: 30px;
}

.deitail-content .md-heading {
  font-weight: bold;
  font-size: 18px;
}

.deitail-content .back {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.017em;
  color: #0075b2;
}

.sidebar {
  width: 320px;
  margin-top: 20px;
  padding: 20px 20px 0 20px;
  border: 1px solid #f2f2f2;
  margin-bottom: 100px;
}

.sidebar .heading {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #0075b2;
  border-bottom: 1px solid #e5e5e5;
}

.sidebar .heading::after {
  position: absolute;
  top: 99%;
  left: 0;
  content: "";
  width: 100px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  height: 2px;
  background-color: #0075b2;
}

.main-sidebar {
  margin-bottom: 40px;
}

.sidebar-item {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

.sidebar-item img {
  width: 120px;
  height: 80px;
  border-radius: 4px;
}

.sidebar-item .sidebar-item-desc .date {
  font-size: 12px;
  line-height: 18px;
  color: #888888;
}

.sidebar-item .md-heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #3a3a3a;
  margin-bottom: 10px;
}

.sidebar-service-item {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px dotted #e5e5e5;
}

@media screen and (max-width: 1023px) {
  .deitail-content {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
  }
  .main-sidebar {
    margin-bottom: 10px;
  }
  .sidebar {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0px 10px 0 10px;
  }
}

.maps {
  position: relative;
}

.contact-content {
  position: absolute;
  top: 60px;
  width: 720px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 60px 80px 25px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.contact-content .heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0075b2;
}

.contact-content .heading::after {
  display: none;
}

.contact-content .short-text {
  width: 510px;
  margin-top: 23px;
  font-size: 16px;
  line-height: 24px;
  color: #444445;
}

.contact-content .phone {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #e01830;
}

.info-company {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  gap: 20px 0px;
}

.info-company p {
  font-size: 14px;
  line-height: 17px;
  color: #3a3a3a;
}

.info-company i {
  margin-right: 12px;
}

.info-company .info-title {
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .contact-content {
    padding: 10px 0px 20px 0px;
    position: relative;
    width: 100%;
    top: 0;
  }
  .contact-content .short-text {
    width: 100%;
  }
  .info-company {
    gap: 20px 10px;
  }
  .maps iframe {
    width: 100%;
    height: 400px;
  }
}

.rail-transport {
  background-color: #f2f2f2;
}

.rail-transport-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding-bottom: 60px;
}

.rail-right-content {
  background-image: url("../images/rail-item-bg.png"), -webkit-gradient(linear, left top, left bottom, from(#00517c));
  background-image: url("../images/rail-item-bg.png"), linear-gradient(#00517c);
  padding: 40px 50px 65px 60px;
}

.rail-right-content p {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.rail-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.banner img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .banner {
    display: none;
  }
}

.item-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.item-icon img {
  width: 50%;
  height: 50%;
  left: 25%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.center-heading {
  position: relative;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heading {
  color: #0075b2;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}

.heading::after {
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 50px;
  height: 1px;
  background-color: #0075b2;
}

.about-us-page {
  background-color: #f2f2f2;
  padding-bottom: 100px;
}

.btn {
  width: 126px;
  height: 45px;
  border-radius: 4px;
  color: white;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

span.arrow {
  font-size: 20px;
  margin-left: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .about-us-page {
    padding-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */