@import "reset";
@import "base";
@import "header";
@import "navigation";
@import "service-about-us";
@import "introduce";
@import "question";
@import "numbers";
@import "contact";
@import "footer";
@import "breadcrumbs";
@import "news";
@import "detail";
@import "contact-page";
@import "rail-transport";

.banner {
    img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .banner {
        display: none;
    }
}

.item-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    img {
        width: 50%;
        height: 50%;
        left: 25%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}

.center-heading {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.heading {
    color: #0075b2;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    &::after {
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 50px;
        height: 1px;
        background-color: #0075b2;
    }
}

.about-us-page {
    background-color: #f2f2f2;
    padding-bottom: 100px;
}

.btn {
    width: 126px;
    height: 45px;
    border-radius: 4px;
    color: white;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

span.arrow {
    font-size: 20px;
    margin-left: 20px;
    color: #FFFFFF;
}

// .banner,
// .services-about-us,
// .introduce,
// .contact,
// .question,
// .numbers,
// {
//     display: none;
// }

@media screen and (max-width: 767px) {
    .about-us-page {
        padding-bottom: 50px;
    }
}